.side-navbar-login {
    width: 250px;
    height: 100vh;
    background-color: #10161d;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-sidenavbar-content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 40px;
}
.main-sidenavbar-content p {
    font-size: 14px;
}
.btns a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #1f2a38;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btns a:hover {
    background-color: #2c3b4f;
}
@media screen and (max-width: 1210px) {
    .side-navbar-login {
        width: 200px;
    }
}
@media screen and (max-width: 1090px) {
    .side-navbar-login {
        width: 150px;
    }
}
/* Mobile designs */
@media screen and (max-width: 768px) {
    .side-navbar-login {
        display: none;
        padding-top: 55px;
        width: 200px;
    }
    .menu-mobile {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .btns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .btns a {
        width: 45%;
    }
}