.side-navbar {
    width: 250px;
    height: 100vh;
    background-color: #10161d;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    color: white;
}
.side-navbar h2 {
    margin-bottom: 6px;
}
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-links span {
    font-weight: bold;
    font-size: 12px;
    user-select: none;
}
.nav-links span:hover {
    cursor: pointer;
}
.side-navbar ul {
    list-style-type: none;
}
.side-navbar ul li {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 15px;
}
.side-navbar ul li a {
    text-decoration: none;
    color: white;
}
.home-page-ul, .blog-ul, .posts-ul, .pages-ul {
    display: none;
}
footer {
    position: fixed;
    bottom: 15px;
}
.copyright {
    font-size: 12px;
    color: #b3b3b3;
}
.icons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 1210px) {
    .side-navbar {
        width: 200px;
    }
}
@media screen and (max-width: 1090px) {
    .side-navbar {
        width: 150px;
    }
    .copyright {
        font-size: 10px;
    }
}
/* Mobile designs */
@media screen and (max-width: 768px) {
    .side-navbar {
        display: none;
        padding-top: 55px;
    }
    .main-content {
        margin-left: 0;
    }
}