<div class="side-navbar-login">
    <div class="main-sidenavbar-content">
        <h2>Pantera<span style="color: red;">.</span> Blogging Platform</h2>
        <p>
            Join the community of bloggers and share your thoughts with the world. <br><br>
            The platform is free to use and you can start blogging right away. <br><br>
            Get started in just a few clicks.
        </p>
    </div>
    <div class="btns">
        <a href="/login" class="btn-login">Login</a>
        <a href="/signup" class="btn-login">Register</a>
    </div>
</div>