<div class="side-navbar">
    <h2>Pantera<span style="color: red;">.</span></h2>
    <p style="margin-bottom: 60px;"><span style="color: grey; font-size: 12px;">Creative React Blog Template</span></p>
    <div class="nav-links">
        <span class="home-navbar">HOMEPAGES
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="m7 10l5 5l5-5z"/></svg>
            <ul class="home-page-ul">
                <li>
                    <a href="/">Dashboard</a>
                </li>
            </ul>
        </span><br>
        <span class="blog-navbar">BLOG
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="m7 10l5 5l5-5z"/></svg>
            <ul class="blog-ul">
                <li>
                    <a href="/">Blog</a>
                </li>
                <li>Blog Details</li>
            </ul>
        </span><br>
        <span class="posts-navbar">POSTS
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="m7 10l5 5l5-5z"/></svg>
            <ul class="posts-ul">
                <li>
                    <a href="/">Create Post</a>
                </li>
                <li>
                    <a href="/">Your Posts</a>
                </li>
            </ul>
        </span><br>
        <span class="pages-navbar">PAGES
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="m7 10l5 5l5-5z"/></svg>
            <ul class="pages-ul">
                <li>
                    <a href="/">Profile</a>
                </li>
                <li>
                    <a href="/">Settings</a>
                </li>
            </ul>
        </span><br>
        <span>CONTACT US</span><br>
    </div>
    <%- include('../partials/footer') %>
</div>